[*.{kt,kts}]
ktlint_code_style = android_studio
ktlint_standard_trailing-comma-on-call-site = enabled
ktlint_standard_trailing-comma-on-declaration-site = enabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_function-naming = disabled
